In [3]:
url= "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz"

In [1]:
import os

In [4]:
os.path.basename(url)

'housing.tgz'

In [5]:
dataset_path="/Users/vikaslakka/Desktop/FSDS/Machine_learning/Projects/sample_project_12_jul/FSDS_sample_project_23_jul/housing/artifact/data_ingestion/22-08-10-11-47-32/ingested_data/train/housing.csv"

In [6]:
import pandas as pd
df= pd.read_csv(dataset_path)

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [12]:
df.columns,df.dtypes.values, df.index

(Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value', 'ocean_proximity'],
       dtype='object'),
 array([dtype('float64'), dtype('float64'), dtype('float64'),
        dtype('float64'), dtype('float64'), dtype('float64'),
        dtype('float64'), dtype('float64'), dtype('float64'), dtype('O')],
       dtype=object),
 RangeIndex(start=0, stop=16512, step=1))

In [21]:
df.dtypes.values[0].__str__()

'float64'

In [76]:
data_type= list(map(lambda x: x.__str__(), df.dtypes))

In [77]:
column= df.columns

In [79]:
lambda x: df.dtypes

In [80]:
dict(zip(column, data_type))

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}